.Navbar {
    position: relative;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 9.5em;
    z-index: 1000;
}

.Logo {
    width: 30%;
}

.Icon {
    color: white;
    margin: 0 15px;
    width: 30px;
}